/* Hero Section */
.hero-section {
  background: #adc5cf; /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-text {
  max-width: 800px;
  padding: 20px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Button Styles */
.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  padding: 15px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.primary-btn {
  background-color: #845ec2; /* Red or a color you prefer */
  color: white;
}

.primary-btn:hover {
  background-color: #6c4f8d;
  transform: translateY(-5px);
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid #845ec2;
  color: #000;
}

.secondary-btn:hover {
  background-color: #6c4f8d;
  color: white;
  transform: translateY(-5px);
}

/* feature car section */
.featuredCars {
  padding: 60px 20px;
  text-align: center;
  background-color: #f8f8f8;
}
.featuredCars h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.featuredCars .vehicleCards {
  margin: 100px auto;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.vehicleCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}
.vehicleCard:hover {
  transform: translateY(-5px);
}
.vehicleCard img {
  width: 100%;
  border-radius: 8px;
  height: 200px;
  object-fit: cover;
}
.vehicleCard h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}
.vehicleCard p {
  font-size: 1rem;
  color: #333;
}
.vehicleCard .btn {
  display: inline-block;
  margin-top: 10px;
  background-color: #845ec2;
  color: white;
  padding: 12px 20px;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.vehicleCard .btn:hover {
  background-color: #6c4f8d;
}

/* mobile view */
@media screen and (max-width: 500px) {
  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

/* Choose Us section */
.chooseUsMain {
  padding: 60px 20px;
  text-align: center;
  background-color: #845ec2;
}

.chooseUsMain h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 40px;
}
.chooseUsMain .chooseUsCards {
  display: flex;
  margin: 100px auto;
  width: 60%;
  gap: 60px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.chooseUsCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}
.chooseUsCard:hover {
  transform: translateY(-5px);
}
.chooseUsCard .mat-icon {
  font-size: 5rem;
  color: #6c4f8d;
  margin: 20px 0;
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
