<div class="hero-section">
  <div class="hero-text">
    <h1>Find Your Dream Car Today!</h1>
    <p>Browse our wide selection of quality vehicles at unbeatable prices.</p>

    <!-- Call-to-Action Buttons -->
    <div class="hero-buttons">
      <a [routerLink]="['/inventory']" class="btn primary-btn"
        >Browse Inventory</a
      >
      <a [routerLink]="['/finance']" class="btn secondary-btn">Get Financed</a>
    </div>
  </div>
</div>

<!--higlight car section -->
<div class="featuredCars">
  <h2 class="featuredTitle">Featured Cars</h2>
  <div class="vehicleCards">
    <div class="vehicleCard">
      <img src="https://placehold.co/600x400" alt="Car 1" />
      <h3>{{ cars[0].year }} {{ cars[0].make }} {{ cars[0].model }}</h3>
      <p>From $39,990</p>
      <a
        [routerLink]="['/inventory/', cars[0]._id]"
        class="btn view-details-btn"
        >View Details</a
      >
    </div>
    <div class="vehicleCard">
      <img src="https://placehold.co/600x400" alt="Car 1" />
      <h3>{{ cars[2].year }} {{ cars[2].make }} {{ cars[2].model }}</h3>
      <p>From $39,990</p>
      <a
        [routerLink]="['/inventory/', cars[2]._id]"
        class="btn view-details-btn"
        >View Details</a
      >
    </div>
  </div>
</div>
