<div class="hero-section">
  <div class="hero-text">
    <h1>Find Your Dream Car Today!</h1>
    <p>Browse our wide selection of quality vehicles at unbeatable prices.</p>

    <!-- Call-to-Action Buttons -->
    <div class="hero-buttons">
      <a [routerLink]="['/inventory']" class="btn primary-btn"
        >Browse Inventory</a
      >
      <a [routerLink]="['/finance']" class="btn secondary-btn">Get Financed</a>
    </div>
  </div>
</div>

<!--higlight car section -->
<div class="featuredCars">
  <h2 class="featuredTitle">Featured Cars</h2>
  <div class="vehicleCards">
    <div class="vehicleCard">
      <img src="https://placehold.co/600x400" alt="Car 1" />
      <h3>{{ cars[0].year }} {{ cars[0].make }} {{ cars[0].model }}</h3>
      <p>{{ cars[0].price | currency }}</p>
      <a
        [routerLink]="['/inventory/', cars[0]._id]"
        class="btn view-details-btn"
        >View Details</a
      >
    </div>
    <!-- <div class="vehicleCard">
      <img src="https://placehold.co/600x400" alt="Car 1" />
      <h3>{{ cars[1].year }} {{ cars[1].make }} {{ cars[1].model }}</h3>
      <p>{{ cars[1].price | currency }}</p>
      <a
        [routerLink]="['/inventory/', cars[2]._id]"
        class="btn view-details-btn"
        >View Details</a
      >
    </div> -->
  </div>
</div>

<!--Section why choose us-->
<div class="chooseUsMain">
  <h2 class="chooseUsTitle">Why Choose Us?</h2>
  <div class="chooseUsCards">
    <div class="chooseUsCard">
      <mat-icon class="mat-icon" fontIcon="garage"></mat-icon>
      <h3>Quality Vehicles</h3>
      <p>We offer a wide selection of quality vehicles at unbeatable prices.</p>
    </div>
    <div class="chooseUsCard">
      <mat-icon class="mat-icon" fontIcon="handshake"></mat-icon>
      <h3>Great Service</h3>
      <p>
        Our friendly and knowledgeable staff are here to help you every step of
        the way.
      </p>
    </div>
    <div class="chooseUsCard">
      <mat-icon class="mat-icon" fontIcon="payments"></mat-icon>
      <h3>Financing Options</h3>
      <p>
        We offer a variety of financing options to help you get behind the wheel
        of your dream car.
      </p>
    </div>
  </div>
</div>
