/* Contact Page */
.contact-page {
  text-align: center;
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
}

/* Header */
.contact-header {
  background-color: #adc5cf;
  color: #222;
  padding: 40px;
  border-radius: 10px;
}

.contact-header h1 {
  font-size: 2.2rem;
}

.contact-header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Contact Info */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  margin: 10px 0;
}

.info-item mat-icon {
  color: #845ec2;
  font-size: 1.8rem;
  width: auto;
  height: auto;
}

/* Contact Form */
/* .contact-form {
  margin-top: 40px;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 10px;
}

.contact-form h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */

/* .primary-btn {
  background-color: #ff6f61;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.primary-btn:hover {
  background-color: #e65c50;
} */

/* Map Section */
.map-container {
  margin-top: 40px;
}

.map-container h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
