<section class="contact-page">
  <div class="contact-header">
    <h1>Contact Us</h1>
    <p>Have questions? We're here to help! Reach out to us anytime.</p>
  </div>

  <!-- Contact Details -->
  <div class="contact-info">
    <div class="info-item">
      <mat-icon>phone</mat-icon>
      <p>
        <strong>Phone:</strong> <a href="tel:+12147792371"> (214) 779-2371</a>
      </p>
    </div>
    <div class="info-item">
      <mat-icon>email</mat-icon>
      <p>
        <strong>Email:</strong>
        <a href="mailto:noasautosalesllc@gmail.com">
          noasautosalesllc&#64;gmail.com</a
        >
      </p>
    </div>
    <div class="info-item">
      <mat-icon>apartment</mat-icon>
      <p><strong>Address:</strong> 2005 Jordan Valley Rd., Dallas, TX 75253</p>
    </div>
  </div>

  <!-- Contact Form -->
  <!-- <div class="contact-form">
    <h2>Send Us a Message</h2>
    <form>
      <input type="text" placeholder="Your Name" required />
      <input type="email" placeholder="Your Email" required />
      <textarea placeholder="Your Message" rows="5" required></textarea>
      <button type="submit" class="btn primary-btn">Send Message</button>
    </form>
  </div> -->

  <!-- Google Maps -->
  <div class="map-container">
    <h2>Find Us Here</h2>
    <iframe
      src="https://www.google.com/maps?q=2005+Jordan+Valley+Rd,+Dallas,+TX+75253&output=embed"
      width="100%"
      height="350"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    >
    </iframe>
  </div>
</section>
