<section class="car-details">
  <div class="car-image">
    <img
      *ngIf="car.publicIds.length === 0"
      src="https://placehold.co/600x400?text=Image\nComing\nSoon"
      alt="{{ car.make }} {{ car.model }}"
    />
    <img
      *ngIf="car.publicIds.length > 0"
      src="https://res.cloudinary.com/dltfiariz/image/upload/{{
        car.publicIds[0]
      }}.jpg"
      alt="{{ car.year }} {{ car.make }} {{ car.model }}"
    />
  </div>

  <div class="car-info">
    <h2>
      {{ car.year }} {{ car.make | titlecase }} {{ car.model | titlecase }}
    </h2>
    <p class="price">{{ car.cashPrice | currency }}</p>

    <!-- Specifications -->
    <ul class="car-specs">
      <li><strong>Color:</strong> {{ car.color }}</li>
      <li><strong>Mileage:</strong> {{ car.milage | number }}</li>
    </ul>

    <!-- Pricing Section -->
    <div class="pricing-section">
      <h3>Pricing Options</h3>
      <div class="pricing-options">
        <div class="pricing-option cash">
          <h4>Cash Price</h4>
          <p class="amount">{{ car.cashPrice | currency }}</p>
        </div>

        <div class="pricing-divider">
          <span>OR</span>
        </div>

        <div class="pricing-option finance">
          <h4>Finance Option</h4>
          <p class="amount">{{ car.financePrice | currency }}</p>
          <p class="down-payment">
            Down Payment: {{ car.downPayment | currency }}
          </p>
        </div>
      </div>
    </div>

    <div class="car-status" [ngClass]="car.status">
      <p>Status of Title</p>
      <p class="status">
        <strong>{{ car.status | titlecase }}</strong>
      </p>
    </div>

    <!-- Call-to-Action Buttons -->
    <div class="car-actions">
      <a [routerLink]="['/contact']" class="btn primary-btn">Inquire Now</a>
    </div>
  </div>
</section>
