<div id="navbar">
  <h1><a [routerLink]="['/']">Noas Auto Sales</a></h1>
  <button
    mat-mini-fab
    aria-label="Mobile navbar toggle button"
    (click)="navToggle()"
  >
    <mat-icon *ngIf="showIcon">menu</mat-icon>
    <mat-icon *ngIf="!showIcon">close</mat-icon>
  </button>
  <div class="nav-links" [class.hidden]="showIcon" #navLinks>
    <a
      (click)="navToggle()"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      (click)="navToggle()"
      [routerLink]="['/inventory']"
      routerLinkActive="active"
      >Inventory</a
    >
    <a
      (click)="navToggle()"
      [routerLink]="['/finance']"
      routerLinkActive="active"
      >Finance</a
    >
    <a
      (click)="navToggle()"
      [routerLink]="['/contact']"
      routerLinkActive="active"
      >Contact</a
    >
  </div>
</div>
