header {
  padding: 10px 20px;
  background-color: #3596b5;
  color: white;
  display: flex;
  justify-content: space-between;
}
#logoutBtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 5%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
}
#logoutBtn:hover {
  background-color: #adc5cf;
  color: white;
}
#manager {
  margin-top: 20px;
  padding: 5px 20px;
}
#carFile {
  font-weight: 700;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#adminMain {
  padding: 0px 20px;
  margin: 10px 0px;
}
#addCarForm {
  display: flex;
  gap: 10px;
  width: 100%;
}
#addCar {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 10px;
  align-items: center;
}
label {
  font-size: 16px;
  font-weight: 700;
  width: 50%;
  align-self: auto;
}
input {
  padding: 5px;
  font-size: 16px;
  width: 50%;
}
button {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 20%;
  background-color: #3596b5;
  color: white;
  border: none;
  cursor: pointer;
  align-self: end;
}
button:hover {
  background-color: #adc5cf;
  color: black;
}
#adminH3 {
  margin-top: 20px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
td,
th {
  border: 1px solid black;
  padding: 5px;
}

td {
  text-align: center;
  font-weight: 500;
}
#deleteBtn {
  background-color: #d70010;
  margin-left: 10px;
  color: #ffff;
}
#deleteBtn:hover {
  background-color: #ff0000;
}

/* mobile view */
@media screen and (max-width: 500px) {
  #addCarForm {
    flex-direction: column;
  }
  #addCar {
    width: 60%;
    justify-content: flex-start;
  }
  label {
    width: 100%;
  }
  input {
    width: 100%;
  }
  #addCar select {
    width: 50%;
    font-size: 1.15rem;
    cursor: pointer;
  }
  button {
    width: 40%;
    align-self: flex-start;
    margin: 1rem 0;
  }
  #deleteBtn {
    width: 55%;
    margin: 4px;
  }
  #logoutBtn {
    padding: 0.5rem;
    width: 15%;
    font-size: 14px;
  }
}
