.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3596b5;
  color: #fff;
  padding: 10px 20px;
}

.logout-btn {
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 10px;
}

.logout-btn:hover {
  background-color: #adc5cf;
  color: #fff;
}

.manager-greeting {
  margin: 20px 0;
  padding: 0 20px;
}

.admin-main {
  padding: 0 20px;
}

.add-car-container {
  margin-bottom: 20px;
}

.add-car-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
}

.form-group label {
  font-weight: 700;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 5px;
  font-size: 16px;
}

.uploaded-files-container {
  margin-top: 10px;
  font-weight: 600;
  color: #333;
}

.uploaded-files-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 5px 0 0 0;
}

.uploaded-files-list li {
  margin-bottom: 4px;
  font-size: 14px;
}

.submit-btn {
  background-color: #3596b5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 12px;
  margin-top: 10px;
  align-self: flex-end;
}

.submit-btn:hover {
  background-color: #adc5cf;
  color: #000;
}

.admin-heading {
  text-align: center;
  margin-top: 20px;
}

.car-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.car-table th,
.car-table td {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
}

.delete-btn {
  background-color: #d70010;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.delete-btn:hover {
  background-color: #ff0000;
}

/* Responsive Styles */
@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .manager-greeting {
    font-size: 1rem;
    margin: 15px 0;
  }

  .add-car-container {
    flex-direction: column;
    gap: 15px;
  }

  .add-car-form {
    width: 100%;
  }

  .submit-btn {
    width: 100%;
    margin-top: 10px;
  }

  .logout-btn {
    align-self: flex-end;
    width: 20%;
    font-size: 14px;
  }

  .car-table th,
  .car-table td {
    font-size: 12px;
    padding: 8px;
  }
}
