<section class="inventory">
  <h2>Our Inventory</h2>

  <!-- Search and Filter -->
  <div class="inventory-filters">
    <input
      type="text"
      placeholder="Search by make, model, or year..."
      id="searchInput"
    />
  </div>

  <!-- Vehicle List -->
  <div class="inventory-list">
    <div class="vehicle-card" *ngFor="let car of cars">
      <img src="https://placehold.co/600x400" alt="Car 1" />
      <h3>{{ car.year }} {{ car.make }} {{ car.model }}</h3>
      <p>Price: $39,990</p>
      <a [routerLink]="['/inventory/', car._id]" class="btn view-details-btn"
        >View Details</a
      >
    </div>
  </div>
</section>
