<section class="inventory">
  <h2>Our Inventory</h2>

  <!-- Search and Filter -->
  <!-- <div class="inventory-filters">
    <input
      type="text"
      placeholder="Search by make, model, or year..."
      id="searchInput"
    />
  </div> -->

  <!-- Vehicle List -->
  <div class="inventory-list">
    <div class="vehicle-card" *ngFor="let car of cars">
      <img
        *ngIf="car.publicIds.length === 0"
        src="https://placehold.co/600x400?text=Image\nComing\nSoon"
        alt="{{ car.make }} {{ car.model }}"
      />
      <img
        *ngIf="car.publicIds.length > 0"
        src="https://res.cloudinary.com/dltfiariz/image/upload/{{
          car.publicIds[5]
        }}.jpg"
        alt="{{ car.make }} {{ car.model }}"
      />
      <h3>
        {{ car.year }} {{ car.make | titlecase }} {{ car.model | titlecase }}
      </h3>
      <p>{{ car.price | currency }}</p>
      <a [routerLink]="['/inventory/', car._id]" class="btn view-details-btn"
        >View Details</a
      >
    </div>
  </div>
</section>
