/* Finance Page */
.finance-page {
  text-align: center;
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

/* Header */
.finance-header {
  background-color: #adc5cf;
  color: #222;
  padding: 40px 20px;
  border-radius: 10px;
}

.finance-header h1 {
  font-size: 2.2rem;
}

.finance-header p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Financing Options */
.finance-options {
  margin-top: 40px;
  margin: 100px 0;
}

.finance-options ul {
  list-style: none;
  padding: 0;
}

.finance-options li {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
mat-icon {
  font-size: 2.5rem;
  color: #845ec2;
  margin-right: 10px;
  width: 5%;
  height: 5%;
}
/* Steps */
.finance-steps {
  margin-top: 40px;
}

.step {
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
  margin-bottom: 15px;
}

.step h3 {
  font-size: 1.4rem;
}

/* Call-to-Action */
.finance-cta {
  margin-top: 40px;
  padding: 40px;
  background: #845ec2;
  color: white;
  border-radius: 10px;
}

.finance-cta h2 {
  font-size: 2rem;
}

.finance-cta p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .finance-page {
    padding: 100px 20px;
  }

  .finance-header {
    padding: 60px 20px;
  }

  .finance-header h1 {
    font-size: 3rem;
  }

  .finance-header p {
    font-size: 1.5rem;
  }

  .finance-options {
    margin: 100px 0;
  }

  .finance-options li {
    font-size: 1.2rem;
    padding: 20px;
    font-weight: 500;
  }
  mat-icon {
    font-size: 2rem;
    width: 10%;
    height: 5%;
  }

  .step h3 {
    font-size: 1.6rem;
  }

  .finance-cta h2 {
    font-size: 2.5rem;
  }

  .finance-cta p {
    font-size: 1.4rem;
  }
}
